$primary-color: #f57c2b;
$secundary-color: #ffffff;

$font-color-primary: #000000;
$font-color-secundary: #ffffff;

$background-color-day: #dbc9bc;
$background-color-night: #3a3535;
$background-color-selected: #f0d096;

$star: #ffd700;
$star-ghost: #66655f;
$nav-icon: $star;

$other-1: #b8a659be;
$other-2: #e77427e8;
